@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/OpenSans-Bold.woff");
  src: url("../fonts/OpenSans-Bold.woff2");
  src: url("../fonts/OpenSans-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}
