body {
  background-color: #000000;
}

.container {
  width: 960px;
  margin: 86px auto 0;
}

@media @tablet-landscape-widths {
  .container {
    width: 768px;
  }
}

@media @tablet-widths {
  .container {
    margin-top: 0;
    width: 480px;
  }
}

@media @mobile-width {
  .container {
    margin-top: 0;
    width: 320px;
  }
}
