@mobile-width:~"(max-width: 320px)";
@tablet-landscape-widths: ~"(max-width: 768px)";
@tablet-widths: ~"(max-width: 480px)";
@desktop-widths: ~"(max-width: 960px)";
@open-sans: "OpenSans-Bold", "Arial", sans-serif;
@arial: "Arial", sans-serif;
